<h3>RegistroUser</h3>
      <p>
        <form action="registro" method="post">
          Username <input type="text" name="username"> <br>
          Nombre <input type="text" name="nombre"><BR>
          Apellido_Paterno <input type="text" name="apaterno"><br>
          Apellido_Materno <input type="text" name="amaterno"><br>
        <input type="submit" class="btn btn-small btn-primary" name="enviar" value="Enviar">
      </form>
      <br>