<h3>Registro</h3>
      <p>
        <form action="registro">
          Username <input type="text" name="username"> <br>
          Nombre <input type="text" name="nombre"><BR>
          Apellido_Paterno <input type="text" name="apaterno"><br>
          Apellido_Materno <input type="text" name="amaterno"><br>
        <button class="btn btn-small btn-primary">Enviar</button>
      </form>
      <br>